.hero {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.hero video {
  width: 100%;
}

.home-item {
  position: relative;
  height: 60vh;
  min-height: 400px;
  width: 100%;
  margin: auto;
  margin-bottom: 160px;
  background-size: cover;
}

.reverse > div {
  flex-direction: row-reverse;
}

.home-item > div {
  display: flex;
  height: 100%;
}

.home-item > div > div {
  width: 55%;
  color: #fff;
}

.home-item > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
  position: relative;
}

.home-item > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 10%;
}

.home-item > div > div:nth-child(1) h1 {
  font-size: 2rem;
}

.home-item > div > div:nth-child(1) p {
  font-size: 1.3rem;
}

.home-item > div > div:nth-child(2) {
  width: 45% !important;
}

.home-item > div > div:nth-child(2) div {
  position: absolute;
  top: -10%;
  left: 25%;
  width: 50%;
  text-align: center;
  height: 120%;
  border-radius: 20px;
}

.home-item video {
  height: 100%;
  border-radius: 20px;
}

.home-item a{
  font-size: 1.4rem;
  background-color: rgb(102, 119, 119);
  color:#fff;
  padding: 4px 9px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.azul > div {
  background-color: rgba(17, 205, 250, 0.6);
}

.amarillo > div {
  background-color: rgba(255, 200, 9, 0.4);
}

.naranja > div {
  background-color: rgba(242, 87, 30, 0.4);
}

.verde > div {
  background-color: rgba(5, 242, 198, 0.4);
}

.morado > div {
  background-color: rgba(244, 0, 245, 0.4);
}
